.table-list{
    td, th{
        padding: 10px;
    }

    select{
        width: 50px;
    }

    .btn-danger{
        font-size: 12px;
        padding: 2px 10px;
        
    }

    .icon-cross{
        width: 10px;
    }
}

h1{
    font-size: 32px;
}

.c-total{
    font-weight: bold;
    font-size: 21px;
}