<div>
    <h1>My Products</h1>
    <!-- <button type="button" [routerLink]="produto-novo">Create new product</button> -->
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>                            
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>
                    <select (change)="onChange(product, $event.target.value)">
                        <option *ngFor="let number of [1,2,3,4]">{{ number }}</option>
                    </select>

                    <!-- <select name="" id="">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                    </select> -->
                </td>
                <td>
                    <button type="button" (click)="deleteProduct(product.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
