<div class="container table-list pt-5">

    <h1 class="mb-4">Lista de Produtos</h1>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>                            
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <select (change)="onChange(product.id, product, $event.target.value)">
                        <option *ngFor="let number of [1,2,3,4]" >{{ number }}</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" type="button" (click)="deleteProduct(product.id)">Remover</button>
                </td>
            </tr>
        </tbody>

        
    </table>

    <div class="col-12 d-flex justify-content-end c-total mt-3 mb-5">
        <p>Total: {{ total }} </p>
    </div>
</div>
